/*body fonts sizes */
/*headline fonts sizes */
.headlines {
  font-family: all-round-gothic, sans-serif;
  font-weight: bold;
  color: #22293d;
}
.headlines-light-gray {
  /*For dark background hero imgs*/
  font-family: all-round-gothic, sans-serif;
  font-weight: bold;
  color: #f7f7f7;
}
.body-copy {
  font-family: nanum-gothic, sans-serif;
  font-weight: normal;
  color: #22293d;
}

.emphasize {
  color: #22293d !important;
  font-weight: 800;
}
.links {
  text-decoration: underline;
  color: #cf6060;
  font-weight: 800;
}
.links:hover {
  text-decoration: none;
  color: #cf6060;
}
.hero {
  height: 150px;
  text-align: center;
  background-size: cover;
  padding: 0;
  border-radius: 0;
  margin-bottom: 1rem;
}
.hero .container {
  height: inherit;
}
.hero h1 {
  font-size: 2.5rem;
  padding: 51px 0;
  margin: 0;
}
.hero img {
  display: none;
}
@media (min-width: 768px) {
  .hero {
    height: 200px;
  }
  .hero h1 {
    font-size: 3.4rem;
    padding: 67.5px 0;
  }
}
@media (min-width: 991px) {
  .hero {
    height: 320px;
  }
  .hero .container {
    position: relative;
  }
  .hero .container h1 {
    font-size: 4rem;
    padding: 122px 0;
  }
  .hero .container img {
    display: inline-block;
    position: absolute;
    width: 300px;
    left: 0;
    top: 66px;
  }
}
.home-hero {
  height: 300px;
  text-align: right;
  background-size: cover;
  background-position: center;
  padding: 0;
  border-radius: 0;
  margin-bottom: 1rem;
}
.home-hero .container {
  height: inherit;
}
.home-hero h1 {
  font-size: 1.5rem;
  padding: 50px 0 20px 0;
  margin: 0;
  color: #f7f7f7;
}
.home-hero h2 {
  font-size: 1.5rem;
  color: #f7f7f7;
}
.home-hero img {
  display: none;
}
@media (min-width: 333px) and (max-width: 353px) {
  .home-hero h1 {
    font-size: 1.4rem;
    padding: 70px 0 20px 0;
  }
  .home-hero h2 {
    font-size: 1.4rem;
  }
}
@media (min-width: 353px) {
  .home-hero h1 {
    padding: 65px 0 20px 0;
  }
}
@media (min-width: 600px) {
  .home-hero {
    height: 370px;
  }
  .home-hero h1 {
    padding: 100px 0 20px 0;
  }
}
@media (min-width: 768px) {
  .home-hero {
    height: 400px;
  }
  .home-hero h1 {
    padding: 115px 0 20px 0;
  }
}
@media (min-width: 830px) {
  .home-hero {
    height: 500px;
  }
  .home-hero h1 {
    font-size: 2.5rem;
    padding: 135px 0 20px 0;
  }
  .home-hero h2 {
    font-size: 2.5rem;
    color: #f7f7f7;
  }
}
@media (min-width: 1000px) {
  .home-hero {
    height: 700px;
  }
  .home-hero .container {
    position: relative;
  }
  .home-hero .container h1 {
    font-size: 4rem;
    padding: 195px 0 20px 0;
  }
  .home-hero .container h2 {
    font-size: 4rem;
  }
}
.cards {
  margin: 0 auto 1.5rem;
}
.cards h3 {
  text-align: center;
  background-color: #22293d;
  color: white;
  padding: 1rem;
  border-radius: 8px 8px 0 0;
}
.cards .card-content {
  padding: 0.5rem;
}
@media (min-width: 576px) {
  .cards {
    border: 1px solid #22293d;
    border-radius: 8px;
    padding: 0 0 1.5rem;
  }
  .cards h3 {
    padding: 1.5rem;
  }
  .cards .card-content {
    padding: 1.5rem 1.5rem 0;
  }
}
.buttons {
  border: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 800;
  margin: 1rem 0;
}
.buttons:hover {
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}
.text-js {
  display: none;
  color: #f7f7f7;
  font-family: nanum-gothic, sans-serif;
  font-size: 1.5rem;
  text-align: center;
  height: 140px;
  border-radius: 8px;
  margin: 50px;
  padding: 20px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
