/*body fonts sizes */
/*headline fonts sizes */
.headlines {
  font-family: all-round-gothic, sans-serif;
  font-weight: bold;
  color: #22293d;
}
.body-copy {
  font-family: nanum-gothic, sans-serif;
  font-weight: normal;
  color: #22293d;
}
.emphasize {
  color: #22293d !important;
  font-weight: 800;
}
.links {
  text-decoration: underline;
  color: #cf6060;
  font-weight: 800;
}
.links:hover {
  text-decoration: none;
  color: #cf6060;
}
.hero {
  height: 150px;
  text-align: center;
  background-size: cover;
  padding: 0;
  border-radius: 0;
  margin-bottom: 1rem;
}
.hero .container {
  height: inherit;
}
.hero h1 {
  font-size: 2.5rem;
  padding: 51px 0;
  margin: 0;
}
.hero img {
  display: none;
}
@media (min-width: 768px) {
  .hero {
    height: 200px;
  }
  .hero h1 {
    font-size: 3.4rem;
    padding: 67.5px 0;
  }
}
@media (min-width: 991px) {
  .hero {
    height: 320px;
  }
  .hero .container {
    position: relative;
  }
  .hero .container h1 {
    font-size: 4rem;
    padding: 122px 0;
  }
  .hero .container img {
    display: inline;
    position: absolute;
    width: 300px;
    left: 0;
    top: 66px;
  }
}
.cards h3 {
  text-align: center;
  background-color: #22293d;
  color: white;
  padding: 1rem;
  border-radius: 8px 8px 0 0;
}
.cards .card-content {
  padding: 0.5rem;
}
@media (min-width: 576px) {
  .cards {
    border: 1px solid #22293d;
    border-radius: 8px;
    padding: 0 0 1.5rem;
  }
  .cards h3 {
    padding: 1.5rem;
  }
  .cards .card-content {
    padding: 1.5rem 1.5rem 0;
  }
}
.buttons {
  border: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 800;
  margin: 1rem 0;
}
.buttons:hover {
  transition-duration: 0.4s;
}
