@import "mixins";

// Global

.navbar {
    box-shadow: 2px 2px 4px @lightgray;
    .logo {
        height: 2.5rem;
        
        @media (min-width: 768px) {
            height: 3rem;
        }
    }
}

h1, h2, h3, h4 {
    .headlines();
}

p {
    font-family: @body;
}