@import "variables";

.headlines {
    font-family: @headlines;
    font-weight: bold;
}

.body-copy {
    font-family: @body;
    font-weight: normal;
}

.emphasize {
    color: @blackblue !important;
    font-weight: @extrabold;
}