@import "variables";

// Font styles
.headlines {
    font-family: @headlines;
    font-weight: bold;
    color: @blackblue;
}

.body-copy {
    font-family: @body;
    font-weight: normal;
    color: @blackblue;
}

.emphasize {
    color: @blackblue !important;
    font-weight: @extrabold;
}

//Links
.links {
    text-decoration: underline;
    color: @red;
    font-weight: @extrabold;
    &:hover {
        text-decoration: none;
        color: @red;
    }
}

// General hero styles
.hero {
    height: 150px;
    text-align: center;
    background-size: cover;
    padding: 0;
    border-radius: 0;
    margin-bottom: @pad-xs;
    .container {
        height: inherit;
    }
    h1 {
        font-size: @head-lg;
        padding: 51px 0;
        margin: 0;
    }
    img {
        display: none;
    }
    @media (min-width: 768px) {
        height: 200px;
        h1 {
            font-size: @head-xl;
            padding: 67.5px 0;
        }
    }
    @media (min-width: 991px) {
        height: 320px;
        .container {
            position: relative;
            h1 {
                font-size: @head-xxl;
                padding: 122px 0;
            }
            img {
                display: inline;
                position: absolute;
                width: 300px;
                left: 0;
                top: 66px;
            }
        }
    }
}

// Cards
.cards {
    border: @border-blue;
    border-radius: 8px;
    padding: @pad-sm;
}

//Buttons 
.buttons {
    border: none;
    text-transform: @uppercase;
    font-size: @font-body;
    font-weight: @extrabold;
    margin: @pad-xs 0;
    &:hover {
        transition-duration: @transition;
    }
}