// Colors
@red: #CF6060;
@pink: #EBBFD0;
@blue: #7DC6EB;
@blackblue: #22293D;

@gray: #6A6F7C;
@lightgray: #F7F7F7;

// Fonts
@headlines: all-round-gothic, sans-serif;
@body: nanum-gothic, sans-serif;

@bold: 700;
@extrabold: 800;

/*body fonts sizes */
@font-body: 1.2rem;
/*headline fonts sizes */
@head-md: 1.5rem;
@head-lg: 2.5rem;
@head-xl: 3.4rem;
@head-xxl: 4rem;

@center: center;
@uppercase: uppercase;

//Spacing
@pad-xs: 1rem;
@pad-sm: 1.5rem;
@pad-md: 2.5rem;

//Borders
@border-blue: 1px solid @blackblue;
@border-gray: 1px solid @lightgray;
@border-red: 1px solid @red;

//Transition
@transition: 0.4s;
